/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/jwt
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/build/
/node_modules/
/app/Resources/webpack/*
!/app/Resources/webpack/.gitkeep
composer-dev.json
composer-dev.lock
webpack-old.js
.web-server-pid
.env
public/
