<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="react-container">{% spaceless %}{% block body %}{% endblock %}{% endspaceless%}</div>
        {% block javascripts %}
        <script src="{{ asset('assets/build/client-bundle.js') }}"></script>
        {% endblock %}
    </body>
</html>
